@import url("../../styles.css");

@font-face {
  font-family: "8bitOperatorPlusSC-Regular";
  src: url("/fuentes/8bitOperatorPlusSC-Regular.ttf");
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
}

.nav__image {
  display: block;
  width: 80px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__list-object {
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: center;
}

.nav__list-object > a {
  font-size: 18px;
  padding: 5px 20px;
  color: var(--link-color-buttom);
  color: black;
  transition: 0.25s;
  font-family: "8bitOperatorPlusSC-Regular";
}

.nav__list-object > a > span {
  transition: 0.25s;
}

.nav__list-object:hover > a > span {
  color: var(--text-project-color);
}

@media screen and (max-width: 850px) {
  .nav__list-object > a > span {
    font-size: 0;
  }
}
